**.rs.bk
capi/bind_gen/target
capi/bindings
capi/Cargo.lock
capi/java/compiler.jar
capi/js/livesplit_core.wasm
capi/js/livesplit.js
capi/js/node/index.js
capi/js/node/livesplit_core.js
capi/js/node/README.md
capi/target
Cargo.lock
emscripten/Cargo.lock
emscripten/target
target
